In [8]:
import pandas as pd
import os
from os import listdir 
import openpyxl

In [48]:
path = 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/'
# files = listdir(path) 
# создаем список ссылок на нужные фаилы 
AllGrWat_links = []
Total_links = []
in_links = []
in_rean_ymd_linnks = []

for r, d, f in os.walk(path):
    for file in f:
        if file.endswith("AllGrWat.txt"):
            AllGrWat_links.append(os.path.join(r + '/' + file))
        elif file.endswith("Total.txt"):
            Total_links.append(os.path.join(r + '/' + file))
        elif file.endswith("in.txt"):
            in_links.append(os.path.join(r + '/' + file))
        elif file.endswith("in_rean_ymd.txt"):
            in_rean_ymd_linnks.append(os.path.join(r + '/' + file))
            
len(AllGrWat_links), len(Total_links), len(in_links), len(in_rean_ymd_linnks)
# len(files_links)

(25, 24, 20, 20)

In [49]:
Total_links # сылки на документы AllGrWat

['C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Klz-Ko/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Klz-Vl/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Mok-Te/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Mok-Te\\Moksha_Temnikov/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Mol-Us/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Mol-Us\\Mologa-Ustuijna/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Bl/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Go/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Ka/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Ka\\Oka_Kaluga/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Kh/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Mu/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Mu\\Oka_Murom/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Oka-Po/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Pro-Bi/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/protva-stuff/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Prt-Sp/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Sur-Po/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Tvr-Md/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Ugr-Tv/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Ugr-Tv\\Ugra_Tovarkovo/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Upa-Or/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Zhi-Kz/Total.txt',
 'C:/Users/gorba/Desktop/Univercity/3 course/CourseWork/GrWat 3.0.M/files/Zhu-Mc/Total.txt']

In [50]:
folders = []
folder_name = []
# r=root, d=directories, f = files
for r, d, f  in os.walk(path): # создаем вектор с названиями папок в которых лежат нужные фаилы
    folders.append(d) 
folder_name = folders[0]
folder_name.remove('protva-stuff')
len(folder_name)

18

In [51]:
AllGrWat = pd.read_csv(AllGrWat_links[0], sep = '\s+') # прочитали 1 фаил 
AllGrWat = AllGrWat.reset_index()
# AllGrWat.columns = ['1','Date','Qin','Qgr','Qpol','Qpav','Qthaw','Qpb','Tin','Pin']
AllGrWat

            index   Date    Qin    Qgr   Qpol   Qpav  Qthaw     Qpb   Tin  Pin
0          00.00.    0.0    0.0 -999.0 -999.0 -999.0 -999.0 -999.00  0.00  0.0
1      01.01.1936   84.5 -999.0 -999.0 -999.0 -999.0 -999.0   -2.82  1.67  NaN
2      02.01.1936   84.5 -999.0 -999.0 -999.0 -999.0 -999.0   -0.26  0.64  NaN
3      03.01.1936   83.8 -999.0 -999.0 -999.0 -999.0 -999.0   -0.39  1.34  NaN
4      04.01.1936   81.9 -999.0 -999.0 -999.0 -999.0 -999.0   -2.90  0.52  NaN
...           ...    ...    ...    ...    ...    ...    ...     ...   ...  ...
28222  04.04.2013  106.0  104.0    0.0    0.0    2.0    0.0    0.59  0.00  NaN
28223  05.04.2013  110.0  108.0    0.0    0.0    2.0    0.0    3.00  0.32  NaN
28224  06.04.2013  114.0  112.0    0.0    0.0    2.0    0.0    2.99  2.17  NaN
28225  07.04.2013  118.0  116.0    0.0    0.0    2.0    0.0    0.65  1.98  NaN
28226  08.04.2013  124.0  124.0    0.0    0.0    0.0    0.0    0.84  0.06  NaN

[28227 rows x 10 columns]

In [ ]:
df_AllGrWat = pd.read_excel("C:/Users/gorba/DataSciense/DataScience/Diplom/GrWat.xlsx")

In [37]:
Total = pd.read_csv(files_links[6], sep = '\s+') # прочитали 1 фаил 
Total = Total.reset_index()
# AllGrWat.columns = ['1','Date','Qin','Qgr','Qpol','Qpav','Qthaw','Qpb','Tin','Pin']
Total

,index,year_number,Year1,Year2,datestart,datepolend,Qy,Qmax,datemax,Qygr,...,Qmaxpavthaw,datemaxpavthaw,SumProd,DaysPavsSum,WinProd,DaysThawWin,CvWin,CvSum,CountPavs,CountThaw
0,0,1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,2,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,3,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,1940,1941,27.03.2000,11.05.2000,100.71,843.0,22.04.2000,45.07,...,115.0,26.11.2000,175.0,132.0,159.0,134.0,0.028,0.019,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,72,73,2008,2009,06.03.2000,21.04.2000,172.25,529.0,03.04.2000,113.92,...,124.0,18.01.2000,267.0,214.0,80.0,45.0,0.015,0.022,8.0,3.0
73,73,74,2009,2010,03.04.2000,17.05.2000,114.67,495.0,24.04.2000,72.66,...,108.0,26.03.2000,225.0,108.0,90.0,44.0,0.019,0.019,1.0,1.0
74,74,75,2010,2011,28.03.2000,25.04.2000,97.27,510.0,11.04.2000,71.21,...,70.6,17.12.2000,221.0,132.0,124.0,47.0,0.005,0.045,5.0,1.0
75,75,76,2011,2012,05.04.2000,20.05.2000,101.88,695.0,28.04.2000,59.99,...,86.1,07.04.2000,216.0,101.0,109.0,49.0,0.012,0.012,2.0,1.0
76,76,77,2012,2013,09.04.2000,22.05.2000,176.98,1440.0,25.04.2000,81.75,...,118.0,07.04.2000,226.0,171.0,96.0,44.0,0.009,0.032,3.0,0.0

In [41]:
# ss=openpyxl.load_workbook("C:/Users/gorba/DataSciense/DataScience/Diplom/GrWat.xlsx")
# ss
df = pd.read_excel("C:/Users/gorba/DataSciense/DataScience/Diplom/GrWat.xlsx")
# df = AllGrWat
df = df.append(AllGrWat, ignore_index=True)
df = df.append(Total, ignore_index=True)
df
#Функция переименовывания листа excel
# ss_sheet = ss['pipa']
# ss_sheet.title = 'Fruit'
# ss.save("biba.xlsx")

,index,Date,Qin,Qgr,Qpol,Qpav,Qthaw,Qpb,Tin,Pin,...,Qmaxpavthaw,datemaxpavthaw,SumProd,DaysPavsSum,WinProd,DaysThawWin,CvWin,CvSum,CountPavs,CountThaw
0,00.00.,0.0,0.0,-999.0,-999.0,-999.0,-999.0,-999.00,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.01.1936,84.5,-999.0,-999.0,-999.0,-999.0,-999.0,-2.82,1.67,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02.01.1936,84.5,-999.0,-999.0,-999.0,-999.0,-999.0,-0.26,0.64,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,03.01.1936,83.8,-999.0,-999.0,-999.0,-999.0,-999.0,-0.39,1.34,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04.01.1936,81.9,-999.0,-999.0,-999.0,-999.0,-999.0,-2.90,0.52,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28299,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.0,18.01.2000,267.0,214.0,80.0,45.0,0.015,0.022,8.0,3.0
28300,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108.0,26.03.2000,225.0,108.0,90.0,44.0,0.019,0.019,1.0,1.0
28301,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.6,17.12.2000,221.0,132.0,124.0,47.0,0.005,0.045,5.0,1.0
28302,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.1,07.04.2000,216.0,101.0,109.0,49.0,0.012,0.012,2.0,1.0
28303,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118.0,07.04.2000,226.0,171.0,96.0,44.0,0.009,0.032,3.0,0.0